<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head>
    <body>
        <!-- <h1>Index Page</h1> -->
        <div class="flex items-center justify-center min-h-screen bg-slate-900">
            <div
                class="w-full max-w-[480px] p-2 bg-amber-900 shadow-xl rounded"
            >
                <svg
                    viewBox="0 0 80 80"
                    class="w-full h-full text-amber-800 fill-current bg-amber-100"
                >
                    <path
                        d="
        M0,0 h10 v10 h-10 z  M20,0 h10 v10 h-10 z  M40,0 h10 v10 h-10 z  M60,0 h10 v10 h-10 z
        M10,10 h10 v10 h-10 z M30,10 h10 v10 h-10 z M50,10 h10 v10 h-10 z M70,10 h10 v10 h-10 z
        M0,20 h10 v10 h-10 z  M20,20 h10 v10 h-10 z  M40,20 h10 v10 h-10 z  M60,20 h10 v10 h-10 z
        M10,30 h10 v10 h-10 z M30,30 h10 v10 h-10 z M50,30 h10 v10 h-10 z M70,30 h10 v10 h-10 z
        M0,40 h10 v10 h-10 z  M20,40 h10 v10 h-10 z  M40,40 h10 v10 h-10 z  M60,40 h10 v10 h-10 z
        M10,50 h10 v10 h-10 z M30,50 h10 v10 h-10 z M50,50 h10 v10 h-10 z M70,50 h10 v10 h-10 z
        M0,60 h10 v10 h-10 z  M20,60 h10 v10 h-10 z  M40,60 h10 v10 h-10 z  M60,60 h10 v10 h-10 z
        M10,70 h10 v10 h-10 z M30,70 h10 v10 h-10 z M50,70 h10 v10 h-10 z M70,70 h10 v10 h-10 z
      "
                    />
                </svg>
            </div>
        </div>
    </body>

    <script
        src="https://cdn.socket.io/4.8.3/socket.io.min.js"
        integrity="sha384-kzavj5fiMwLKzzD1f8S7TeoVIEi7uKHvbTA3ueZkrzYq75pNQUiUi6Dy98Q3fxb0"
        crossorigin="anonymous"
    ></script>

    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js"
        integrity="sha512-xRllwz2gdZciIB+AkEbeq+gVhX8VB8XsfqeFbUh+SzHlN96dEduwtTuVuc2u9EROlmW9+yhRlxjif66ORpsgVA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    ></script>

    <script src="/js/main.js"></script>
</html>
